:root {
	--inputBackground: #f2fbf7;
	--primary: #38da90;
	--secondary: #86f3c2;
	--accent: #46fca9;
}

h2 {
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
}
h3 {
	font-weight: 500;
}

h4 {
	font-weight: 400;
}

button {
	padding: 10px;
	border: none;
	font-size: 14px;
	cursor: pointer;
}

button:active {
	transform: scale(0.9);
	transition: transform 0.4s ease-in-out;
}

.nav {
	background-color: var(--accent);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	width: 1000px;
	margin: 20px auto;
}

.search {
	width: 500px;
}

.search button {
	margin-left: 10px;
	background-color: var(--primary);
}

input {
	height: 35px;
	background-color: var(--inputBackground);
	border: none;
	width: 300px;
	font-size: 18px;
}

input:focus-visible {
	outline: none;
}

.flex {
	display: flex;
	background-color: var(--secondary);
	align-items: center;
	justify-content: center;
	width: 1050px;
	margin: auto;
	gap: 15px;
}

.box {
	background-color: var(--primary);
	width: 50%;
	margin: 10px;
	height: 1050px;
	padding: 10px;
}

.box input {
	margin-top: 10px;
}

.ul {
	list-style: none;
}

.li {
	background-color: var(--accent);
	width: 95%;
	margin: 10px;
	padding: 12px;
	display: grid;
	grid-template-columns: 20% 70% 10%;
	align-items: center;
}

.li h3 {
	text-align: left;
	font-weight: 500;
}

.li h4 {
	text-align: left;
	font-weight: 400;
}

.addRemoveButton {
	background: none;
	font-size: 24px;
	justify-self: flex-end;
}

.save {
	background-color: var(--secondary);
}
